.header {
    background-color: #2f9dc6;
    height: 130px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.header .header_1 {
    position: absolute;
    top: 60px;
    left: 5%;
}

.header .logo {
    height: 50px;
    width: 160px;
    position: absolute;
    top: 20px;
    left: 45%;
}
.box
{
    position: absolute;
    top: 210px;
    height: 170px;
    width: 180px;
    border-radius: 32%;
    padding: 0%;
    margin-top: 0%;
    background-color: #101010;

}
.insidespan_3
{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #b2b2b2;
    margin-left: 45px;
    font-weight: 20;
    background: transparent;
}
.insidespan_2
{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #b2b2b2;
    margin-left: 45px;
    font-weight: 100;
    background: transparent;
}   
.insidespan
{
    position: relative; top:5px; left: 40px;
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

body {
    width: 60%;
    overflow-y: auto; /* Ensure vertical scrolling for entire page */
}

.main {
    margin-top: 130px; /* Adjusted to fit header height */
    width: 85%;
    height: calc(100vh - 130px); /* Adjusted to fit remaining viewport height below header */
    overflow-y: auto;
    padding: 20px; /* Adding padding for better readability */
}
.line1 {
    position: absolute;
    top: 160px;
    left: 0;
    width: 20%;
}

.side {
    position: absolute;
    text-align: justify;
    top: 155px;
    margin-top: 0%;
    border-top: 0%;
    margin-left: 65%;
    margin-right: 5px;
    width: 25%;
    /* overflow-y: auto;  */
    height: calc(100vh - 150px); /* Adjusted to fit remaining viewport height */
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    width: 100px;
}
.fcit
{
        color: #2f9dc6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        overflow: hidden;
        animation: floatText 5s steps(40, end);

}
@keyframes floatText {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
